# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.gcloudignore
.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

.mypy_cache
.pytest_cache
.hypothesis

*.db
*.sqlite
.DS_Store
.env
.vscode
.idea
